@tailwind base;
@tailwind components;
@tailwind utilities;

.media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.media-video,
.media-image,
.media-audio {
  max-width: 100%;
  max-height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.app-container {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 50%);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}